.header {
  padding-top: 2.5rem;
}

.flexHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logoLink {
  margin-right: 4rem;
  color: var(--HeaderColor);
}

.linkGroup {
  display: flex;
  align-items: center;
}

.pageLink {
  color: var(--HeaderColor);
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.2;
  margin-right: 2.5rem;
  opacity: 0.7;
}

.pageLink:hover {
  opacity: 1;
}

.responsiveLinkGroup {
  display: none;
}

.headerButton {
  display: none;
}

@media (min-width: 750px) {
  .menuWrapper {
    display: none;
  }

  .responsiveLinkGroup {
    display: initial;
  }

  .headerButton {
    display: initial;
  }
}
