.default,
.ctaSpace {
  width: 100%;
  min-width: 0;
  /* max-width: 430px; */
  color: var(--textColour);
  border-radius: 1.5rem;
  border: none;
  font-size: 0.9375rem;
  font-weight: 700;
  padding: 1em 1.7em;
  box-shadow: 0.667em 0.667em 1.667em -0.667em rgba(54, 83, 107, 0.25);
  color: var(--inputColour);
}

.ctaSpace {
  margin-bottom: 1rem;
}

.default:focus {
  outline: none;
}

.contactInput {
  width: 100%;
  min-width: 0;
  /* max-width: 430px; */
  border: none;
  border-bottom: solid 1px var(--borderColour);
  font-size: 0.9375rem;
  font-weight: 700;
  padding: 0 1.25rem 1rem;
  margin-bottom: 1.5rem;
  color: var(--inputColour);
  background-color: transparent;
}
