.primary,
.secondary {
  border-radius: 1.5rem;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.2;
  border: none;
  box-shadow: 0.667em 0.667em 1.667em -0.667em rgba(54, 83, 107, 0.25);
  cursor: pointer;
}

.primary {
  background-color: var(--btnPrimaryBg);
  color: var(--btnPrimaryColour);
  width: 100%;
  padding: 1em 1.7em;
}

.primary:hover {
  background-color: var(--btnPrimaryHover);
}

.secondary {
  background-color: transparent;
  color: inherit;
  border: 1px solid;
  padding: 1em 2.14em;
}

.secondary:hover {
  background-color: var(--brnSecondaryHover);
}

@media (min-width: 573px) {
  .primary {
    width: initial;
  }
}
