.homeBackground {
  background-image: url(/shared/desktop/bg-pattern-circle.svg);
  background-position: 50% -35rem;
  background-repeat: no-repeat;
}

.appBackground {
  background-image: url(/shared/desktop/bg-pattern-circle.svg);
  background-position: -20% -40rem;
  background-repeat: no-repeat;
}

@media (min-width: 650px) {
  .homeBackground {
    background-size: 949px;
    background-position: 50% -42rem;
  }
}

@media (min-width: 1100px) {
  .homeBackground {
    background-size: auto;
    background-position: 125% -10rem;
  }
}

@media (min-width: 1500px) {
  .homeBackground {
    background-size: auto;
    background-position: 100% -10rem;
  }
}
