@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans:wght@400;500;700&display=swap&family=Roboto+Mono&display=swap");

:root {
  /* colours */
  --darkPink: #ba4270;
  --linkWaterWhite: #fbfcfe;
  --almostWhite: #edf3f8;
  --sanJuanBlue: #36536b;
  --lightSanJuanBlue: #6c8294;
  --mirageBlue: #1b262f;
  --charmPink: #da6d97;

  /* colour intentions */
  --appBg: var(--almostWhite);
  --textColour: var(--lightSanJuanBlue);
  --secondaryTextColour: var(--linkWaterWhite);
  --highlightTextColour: var(--darkPink);
  --HeaderColor: var(--sanJuanBlue);
  --inputColour: var(--sanJuanBlue);
  --darkAppBg: var(--mirageBlue);
  --btnPrimaryBg: var(--darkPink);
  --btnPrimaryColour: var(--linkWaterWhite);
  --btnPrimaryHover: var(--charmPink);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Public Sans", sans-serif;
  background-color: var(--appBg);
  color: var(--textColour);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.87;
  margin: 0;
}

img {
  width: 100%;
}

/* typography */

h1,
h2,
h3,
h4 {
  font-family: "DM Serif Display", serif;
  color: var(--HeaderColor);
}

h1,
h2 {
  font-size: 2rem;
  line-height: 1.12;
  letter-spacing: -0.25px;
}

h3 {
  font-family: "Public Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.39;
  font-weight: 700;
}

h4 {
  font-family: "DM Serif Display", serif;
  font-size: 1.5rem;
  line-height: 1.33;
  font-weight: 400;
  letter-spacing: -0.18px;
}

@media (min-width: 650px) {
  h2 {
    font-size: 3rem;
    line-height: 1.17;
    letter-spacing: -0.37px;
  }
}
