@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans&display=swap");

:root {
  /* colours */
  --darkPink: #ba4270;
  --linkWaterWhite: #fbfcfe;
  --sanJuanBlue: #36536b;
  --lightSanJuanBlue: #6c8294;
  --mirageBlue: #1b262f;
  --charmPink: #da6d97;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 0.9375rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* typography */

h1,
h2,
h3,
h4 {
  font-family: "DM Serif Display", serif;
}
