.main {
  text-align: center;
}

/* intro */

.intro {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}

.mockupContainer {
  width: 100%;
  max-width: 13rem;
  margin: 0 auto;
}

.introGroup {
  max-width: 573px;
  margin: 0 auto;
}

.introTitle {
  font-size: 2rem;
  line-height: 1.12;
  letter-spacing: -0.5px;
  margin-top: 0;
  font-weight: 400;
}

@media (min-width: 650px) {
  .intro {
    padding-bottom: 5.5rem;
  }

  .mockupContainer {
    max-width: 16rem;
  }

  .introTitle {
    font-size: 3rem;
    line-height: 1.17;
    letter-spacing: -0.37px;
  }
}

@media (min-width: 1100px) {
  .intro {
    padding-bottom: 0;
  }

  .main {
    text-align: left;
  }

  .mockupContainer {
    max-width: 26.25rem;
    margin: 0;
  }

  .intro {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .introGroup {
    max-width: 550px;
    margin: 0;
  }
  .introTitle {
    font-size: 4.5rem;
    line-height: 1;
    letter-spacing: -0.55px;
  }
}

.emailForm input {
  margin-bottom: 1rem;
}

@media (min-width: 573px) {
  .emailForm {
    display: flex;
    margin: 0 auto;
    max-width: 445px;
  }

  .emailForm input {
    margin-bottom: 0;
  }

  .emailForm button {
    min-width: 10.9375rem;
    margin-left: -3rem;
  }
}

@media (min-width: 1000px) {
  .emailForm {
    margin: 0;
  }
}

.questions {
  font-weight: 400;
  margin-top: 1.5rem;
}

.inlineLink {
  font-weight: 700;
}

/* partners */

.partners {
  background-color: var(--darkAppBg);
  color: var(--secondaryTextColour);
  padding: 5rem 0;
  text-align: center;
}

.partnerFlex {
  display: flex;
  flex-direction: column;
}

.partnerTitle {
  color: var(--secondaryTextColour);
  margin-top: 0;
  margin-bottom: 1rem;
}

.partnerContent {
  margin-top: 3.5rem;
}

.partnerText {
  margin: 0 auto 2rem;
  max-width: 456px;
}

.partnerLogos {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
  max-width: 250px;
  margin: 0 auto;
}

@media (min-width: 370px) {
  .partnerLogos {
    max-width: 400px;
    justify-content: space-between;
  }
}

@media (min-width: 650px) {
  .partners {
    background-image: url(/shared/desktop/bg-pattern-circle.svg);
    background-position: 50% -33.5rem;
    background-repeat: no-repeat;
    padding: 5.5rem 0;
  }

  .partnerLogos {
    max-width: 536px;
  }

  .partnerContent {
    margin-top: 4rem;
  }

  .partnerTitle {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 1100px) {
  .partners {
    padding: 6.25rem 0;
    text-align: left;
    background-position: -13.5rem -22.5rem;
  }

  .partnerFlex {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .partnerContent {
    margin: 0;
  }

  .partnerLogos {
    margin: 0;
  }
}

.darkText {
  opacity: 0.7;
}

/* features */

.features {
}

.featureContainer {
  padding: 5rem 0;
  max-width: 1200px;
  margin: 0 auto;
}

.featureGroupTitle {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.featureGroup {
  display: flex;
  flex-direction: column;
}

.featureGroup:last-child {
  margin-top: 5rem;
}

.featureContent {
  max-width: 573px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.implementMockup {
  max-width: 445px;
  margin: 0 auto;
}

.uiMockup {
  max-width: 400px;
  margin: 0 auto;
}

@media (min-width: 1100px) {
  .features {
    background-image: url(/shared/desktop/bg-pattern-circle.svg);
    background-position: 50% -33.5rem;
    background-repeat: no-repeat;
  }

  .featureContainer {
    padding: 9.365rem 0;
  }

  .featureGroup {
    flex-direction: row;
  }

  .featureGroup:last-child {
    flex-direction: row-reverse;
  }

  .implementMockup {
    flex-basis: 445px;
    flex-shrink: 0;
    margin: 0;
  }

  .uiMockup {
    flex-basis: 400px;
    flex-shrink: 0;
    margin: 0;
  }

  .featureContent {
    max-width: 445px;
    margin: 0;
  }
}

/* uses */

.uses {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.use {
  margin-bottom: 3rem;
  max-width: 350px;
}

@media (min-width: 650px) {
  .uses {
    flex-direction: row;
    gap: 0.625rem;
  }
}

/* pricing */

.checkedList {
  list-style-image: url(/shared/desktop/icon-check.svg);
}

.pricingList {
  text-align: initial;
}

.bigNumber {
  font-size: 3.5rem;
  line-height: 1.29;
  letter-spacing: -0.43px;
}

.highlight {
  color: var(--highlightTextColour);
}
