/* pricing */

.main {
  text-align: center;
}

.pricingTitle {
  margin-bottom: 0;
  margin-top: 3rem;
}

.pricingGroups {
  display: flex;
  flex-direction: column;
}

.pricingGroup {
  margin: 3rem auto 0;
}

.pricingList {
  text-align: initial;
  width: max-content;
  margin: 0 auto;
  color: var(--listColour);
  font-weight: 500;
  padding-left: 1.5rem;
}

.pricingList li {
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

.pricingList li:last-child {
  margin-bottom: 0;
}

.uncheckedListItem {
  list-style-type: none;
  opacity: 0.5;
}

.checkedListItem {
  list-style-image: url(/shared/desktop/icon-check.svg);
  opacity: 1;
}

.pricingBorder {
  border-top: 1px solid var(--borderColour);
  border-bottom: 1px solid var(--borderColour);
  padding: 1.5rem 0;
  margin-bottom: 1.5rem;
}

.bigNumber {
  font-size: 3.5rem;
  line-height: 1.29;
  letter-spacing: -0.43px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.highlight {
  color: var(--highlightTextColour);
  margin-top: 0;
  margin-bottom: 1rem;
}

@media (min-width: 750px) {
  .pricingTitle {
    margin-top: 4.5rem;
  }

  .pricingGroups {
    margin-top: 4.5rem;
    flex-direction: row;
    gap: 0.625rem;
    justify-content: space-between;
  }

  .pricingGroup {
    margin: 0;
    flex: 1 1 0px;
    max-width: 250px;
  }
}

@media (min-width: 1100px) {
  .main {
    text-align: left;
  }

  .pricingTitle {
    margin-top: 5.125rem;
  }

  .pricingList {
    margin: 0;
  }

  .pricingGroups {
    gap: 1.875rem;
  }

  .pricingGroup {
    max-width: 350px;
  }
}
